body {
    margin: 0;
    padding: 0;
    background-color: #777777;
    font-family: "Lato", sans-serif;
    overflow-x: hidden;
    max-width: 99vw
}

.wf {
    background-color: white;
}

.backImg {
    position: relative;
    top: 5em;
    left: 0em;
    height: 100vh;
    margin: 0px;
}

.title {
    position: absolute;
    top: 55vh;
    left: 2vw;
}

header {
    position: fixed;
    background-color: #777777;
    height: 5em;
    width: 100%;
    z-index: 111;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 140px;
    cursor: pointer;

}

main {

    margin-left: 2rem;
    margin-right: 2rem;

}

main.noGrid {
    display: block;
}

aside.moveMeUp {
    width: 100vw;
    justify-content: center;
}

/* core Areas section */

.CoreAreaTitle {
    padding-top: 10vh;
    text-transform: uppercase;
    padding-left: 10vw;
}

.coreAreas img:hover {
    cursor: pointer;

}

.coreAreas img {

    width: 100%;

}

.coreAreas h2 {
    text-align: center;

}

.CAContainer {

    height: 500px;
    background-color: white;
    margin: 1em;

}

aside.moveMeUpCA {
    width: 100vw;
    justify-content: center;
}


/*animations CA*/

.moveMeUpCA {
    animation: moveMeUpCA 1s forwards ease;
}


@keyframes moveMeUpCA {

    to {
        transform: translateY(-126.5vh);
        background-color: #777777;
        width: 100vw;

    }
}


/*program structure page*/

div.padMe {
    padding-top: 8em;
    animation: scrollMe 4s forwards;
}

@keyframes scrollMe {
    50%{padding-top:8em;}
    100% {padding-top: .5em;}
}

.circle div img {
    width: 100%;
    max-width: 400px;

}

.gridMe {
    display: grid;
    grid-template-columns: repeat(4, minmax(60px, 40px));
    position: fixed;
}

.semesterContainer {
    height: 500px;
    background-color: white;
    margin: 1em;
}

/*animationsPR*/

.moveMeUp {
    animation: moveMeUp 1s forwards ease;
}

@keyframes moveMeUp {

    to {
        transform: translateY(-89vh);
        background-color: #777777;
        width: 100%;

    }
}

.circle div:hover {
    cursor: pointer;
}

/*footer*/

footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: white;
    position: absolute;
    width: 100vw;
    margin-top: 30px;


}

footer div {
    margin: auto;
    font-family: "Lato", sans-serif;

}

footer div h3 {
    color: black;
    text-decoration: none;
    text-align: center;
}

footer div h2 {
    font-size: 21px;
}

footer a {
    color: black;
    text-decoration: none;
}

.iconLocation {
    display: block;
    width: 35px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: -13px;
}

.footerLogo {
    width: 25vh;
    margin: auto;

}

.icons {
    width: 20px;
    margin: auto;
    margin-right: 10px;
    height: auto;
}

/***** NAVIGATION *****/

.burger-menu {
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    z-index: 1;
    background-color: #777777;
    top: 10px;
    right: 30px;
}

.main-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;

}

.main-nav a {
    padding: 9px 32px 8px 8px;
    text-decoration: none;
    text-align: right;
    font-size: 25px;
    color: #818181;
    display: block;
}

a.highlighted {
    color: #f1f1f1;
    border-right: 3px solid #FFFFFF;
}

.main-nav a:hover {
    color: #f1f1f1;
    border-right: 3px solid #FFFFFF;

}

.main-nav a:first-child:hover {
    border: none;
}

.main-nav .closebtn {
    font-size: 36px;

}

.open {
    width: 100%;
}

.close {
    width: 0;
}


@media only screen and (min-width: 40em) {
    /*footer*/
    footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        background-color: white;
        position: absolute;
        width: 100vw;
        margin-top: 30px;


    }

    footer div {
        margin: auto;
        font-family: "Lato", sans-serif;

    }

    footer div h3 {
        color: black;
        text-decoration: none;
        text-align: center;
    }

    footer div h2 {
        font-size: 21px;
    }

    footer a {
        color: black;
        text-decoration: none;
    }

    .iconLocation {
        display: block;
        width: 35px;
        margin: auto;
        margin-top: 10px;
        margin-bottom: -13px;
    }

    .footerLogo {
        width: 25vh;
        margin: auto;

    }

    .icons {
        width: 20px;
        margin: auto;
        margin-right: 10px;
        height: auto;
    }

    /*animations CA*/
    aside.circle.moveMeUpCA {
        grid-template-rows: 4em;
    }



    @keyframes moveMeUpCA {

        to {
            transform: translateY(-126.5vh);
            background-color: #777777;
            width: 100vw;


        }
    }



    /*program*/
    .circle {
        display: grid;
        grid-template-columns: repeat(2, minmax(200px, 1fr));
        grid-gap: 1.5rem;
    }

    aside.gridMe {
        display: grid;
        grid-template-columns: repeat(4, minmax(60px, 40px));
        position: fixed;
    }

    /*animation*/
    @keyframes moveMeUp {

        to {
            width: 100%;
            transform: translateY(-89vh);
            background-color: #777777;
        }
    }
}

@media only screen and (min-width: 60em) {
    /*grid*/
    section.grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
        grid-gap: 1.5rem;
        grid-template-rows: 20em;
    }



    /*navigation*/
    .open {
        width: 250px;
    }

    .open-mq {
        width: 250px;
    }

    .logo {
        top: 0;
        left: 1em;
        width: 200px;
    }

    /*core areas*/
    .coreAreas {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 10px;
        padding: 20px;
    }
    /*animations CA*/
    @keyframes moveMeUpCA {

        to {
            transform: translateY(-154.5vh);
            background-color: #777777;
            width: 100vw;


        }
    }


    /*program*/
    aside.gridMe {
        grid-template-rows: 4em
    }

    .circle {
        display: grid;
        grid-template-columns: repeat(4, minmax(200px, 1fr));
        grid-gap: 1.5rem;
        grid-template-rows: 20em;

    }

    .semesterContainer {
        background-color: white;
        height: 300px;
        width: 100%;
        margin: 1em;

    }



    @keyframes moveMeUp {

        to {
            width: 100%;
            transform: translateY(-89vh);
            background-color: #777777;
        }
    }




}
