body {
    margin: 0;
    padding: 0;
    background-color: #FFF;
    font-family: "Helvetica Neue", "Arial", "Lato", sans-serif;
    overflow-x: hidden;


}

a {text-decoration: none;
color: black;}

.oppa{color:white;
height:70px;}


.circle div {
     border-radius: 100%;
    background-color: #969595;
}

/****** SEMESTERS ********/
.circle div.sem1:hover {
     background-color: #FDD757;
}

.circle div.sem2:hover {
     background-color: #56C271;
}

.circle div.sem3:hover{
     background-color: #8E7FAE;
}


.circle div.sem4:hover {
     background-color: #B16278;
}


/******** CORE AREAS *********/
.circle div.business:hover {
     background-color: #6ECEB2;
}

.circle div.communication:hover {
     background-color: #B16278;
}

.circle div.design:hover {
     background-color: #fa9370;
}

.circle div.development:hover {
     background-color: #59cbe8;
}


#program {
    background-image: url(images/study_leptop.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    top: 0;

}

#future-header {
    background-image: url(images/future_head.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    top: 0;
}
#admission-bg {
    background-image: url(images/admition_header.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    top: 0;

}

#exchange {
     background-image: url(images/exchange_header.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    top: 0;
}
#internship {
     background-image: url(images/intersheep_header.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
     top: 0;
}


.apply {

     background-image: url(images/admission_last.jpg);
   background-position:center;

    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size:contain;
     width: 100%;
    max-width: 100%;
    overflow:hidden;
    height: 200px;
    position:relative;
    margin:0
}

.img-style {
    height: 125px;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.first-img {
    background-image: url(images/librery.jpg);

}
.second-img {
    background-image: url(images/school1.jpeg);

}

.img-3 {
    background-image: url(images/geometric.jpeg)
}

.img-4 {
    background-image: url(images/exam_pic.jpeg)
}

.img-5 {
    background-image: url(images/admition_first.jpg)
}
.img-6 {
    background-image: url(images/admition_second.jpg);
     background-position: left;
}

.img-7 {
    background-image: url(images/exchange_stud.jpeg);
}
.img-8 {
    background-image: url(images/connection.jpeg);
}

.img-9 {
    background-image: url(images/desk_future.jpeg);
}

.img-10 {
    background-image: url(images/dimension.jpeg);
}
button a {
     text-decoration: none;
    color: white;

}

.color-0 {
     background-color: #ffb4aa;
}
.color-1 {
     background-color: #85DCBC;
}

.color-2 {
    background-color: #E4BE9E;
}

.color-3 {
    background-color: #BEBABA;
}

.color-4 {
    background-color: #D3A49E;
}

.color-5 {
    background-color: #81A598;
}

div.color-6 {
    background-color: #B16278;
    padding-left: 2em;
    padding-right: 2em;

}

.color-7 {
    background-color: #4398AD;
}

.color-8 {
    background-color: #64899D;
}

.color-9 {
    background-color: #81A598;
}

.btn {
  background: #b01340;
  background-image: linear-gradient(to bottom, #b01340, #941038);
  border-radius: 22px;
  font-family: "Helvetica Neue", "Arial", "Lato", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

    position: sticky;
    top: 3em;
    left:2em;
    }

.btn:hover {
  background: #0e16b3;
  background-image: linear-gradient(to bottom, #0e16b3, #3498db);
  text-decoration: none;
}




section{margin-left:7vw;
margin-right:7vw;}

main {margin-left:7vw;
margin-right:7vw;}

aside {width:80vw;
    justify-content: center;
    margin-left:10vw;
    padding-top:1em;

}



video {
    position: relative;
    z-index: 0;
    display: block;
    width: 90%;
    margin: auto;
    padding: 4.5em 0 0;
}



.hide {display: none;}

.backImg {
    position: relative;
    top: 5em;
    height: 40vh;
    margin: 0;
}

.title {
    position: absolute;
    top: 20vh;
    left: 4vw;
    font-size: 10px;
}

.titleApp{position:absolute;
top:.5em;
    left:1.2em
}
header {
    position: fixed;
    background-color:#FFF;
    height: 5em;
    width: 100%;
    z-index: 111;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 90px;
    cursor: pointer;

}

main {

    margin-left: 2rem;
    margin-right: 2rem;

}

main.noGrid {
    display: block;
}



/* core Areas section */

.CoreAreaTitle {
    padding-top: 10vh;
    text-transform: uppercase;
    padding-left: 10vw;
}

.coreAreas img:hover {
    cursor: pointer;

}

.coreAreas img {

    width: 100%;

}

.coreAreas h2 {
    text-align: center;

}



.imgCA {
     height: 125px;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}


.cont {padding: 1em;
padding-top:0em;
margin-top:.1em;}

.cont h2 {border-bottom: 2px solid;
    padding-bottom:.5em;
 }

/*animations CA*/

.moveMeUpCA {
    animation: moveMeUpCA 1s forwards ease;
    position:absolute;
    top:.2em;
}


@keyframes moveMeUpCA {

    to {
        z-index: 111;
        width: 50vh;

    }


}


/*program structure page*/


.semTitle{
    height:4em;
    color:black;
text-align: center;}

.circle div img {
    width: 100%;

}

.gridMe {
    display: grid;
    grid-template-columns: repeat(4, minmax(30px, 40px));
    grid-column-gap: .5em;
    position: fixed;
}

.semesterContainer {
    background-color: white;
    margin: 1em;
    margin-bottom:2em;
}

/*animationsPR*/

.moveMeUp.gridMe {
    animation: moveMeUp 1s forwards ease;
    position:fixed;
    left:.9vh;
    top:.5vh;

}

@keyframes moveMeUp {

    to {
        z-index:1111;

    }
}

.circle div:hover {
    cursor: pointer;
}

/*footer*/

footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: white;
    position: absolute;
    width: 100%;
    margin-top: 30px;


}

footer div {
    margin: auto;
    font-family: "Lato", sans-serif;


}

footer div h3 {
    color: black;
    font-size: 12px;
    text-decoration: none;
    text-align: center;
}

footer div h2 {
    font-size: 16px;
}

footer a {
    color: black;
    text-decoration: none;
    font-size: 12px;

}


.contact-us {
    margin-bottom: 5px;
}
.iconLocation {
    display: block;
    width: 25px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: -5px;
}

.footerLogo {
   display:none;

}

.icons {
    width: 15px;
    margin: auto;
    margin-right: 10px;
    height: auto;
}

/***** NAVIGATION *****/

.burger-menu {
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    z-index: 1;
    top: 10px;
    right: 30px;
}

.main-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;

}

.main-nav a {
    padding: 9px 32px 8px 8px;
    text-decoration: none;
    text-align: right;
    font-size: 25px;
    color: #818181;
    display: block;
}

a.highlighted {
    color: #f1f1f1;
    border-right: 3px solid #FFFFFF;
}

.main-nav a:hover {
    color: #f1f1f1;
    border-right: 3px solid #FFFFFF;

}

.main-nav a:first-child:hover {
    border: none;
}

.main-nav .closebtn {
    font-size: 36px;

}

.open {
    width: 100%;
}

.close {
    width: 0;
}

/*HOME*/

.contLeft{
    padding: 1em;
}

p {
    font-family: "Helvetica Neue", "Arial", sans-serif;
    font-weight: 300;
    color: black;
    padding: 0 .5em;
    margin: 2em 0;
}

ul {
    list-style-type:circle;
    font-family: "Helvetica Neue", "Arial", sans-serif;
    font-weight: 400;
    color: black;
}

ul li{padding-bottom:.3em;}

.semesterContainer ul, CAContainer ul {font-weight: 300}

section h1 {
    font-weight: bold;
    font-size: 18px;
    color: black;
    padding: 0 1em;
    text-align: center;
    margin-bottom: .5em;
}


.line{
    background-color: #FFFFFF;
    height: 3px;
    width: 5em;
    margin:auto;
}



section img {
    display: block;
    width: 100%;
}

.header-subtitle {
    font-size: 20px;
    font-family: "Helvetica Neue";
    font-weight: 300;
    color: grey;
    border-bottom: 1px solid;
    margin-left: 0.6em;
    margin-right: 0.6em;
    margin-bottom: 2em;

}

.contRight {
    padding: 1em;
}


.title-core-areas {

    font-size: 25px;
    font-weight: 400;
    padding: .3em .3em .3em;
    margin: 0em 0 .4em .8em;
}

h1.title-CA {
    margin-left: 0vh;
}

.CAContainer h4, .semesterContainer h4 {margin-left:2em;
}

h4 {
    font-weight: 300;
    margin-top: 0;
}

.line-objectives {
    background-color: pink;
    height: 3px;
    width: 5em;
}

.line-knowledge {
    background-color: forestgreen;
}
.line-skills {
    background-color: darkblue;
}
.program-line {
    position: absolute;
    background-color:#E4BE9E;
    height: 3px;
    width: 3em;
}

.admission-line {
    position: absolute;
    background-color:#FDD757;
    height: 3px;
    width: 3em;
}
.admission2-line {
    position: absolute;
    background-color:#EA1212;
    height: 3px;
    width: 6em;
}

.abroad-line {
    position: absolute;
    background-color:#B16278;
    height: 3px;
    width: 3em;
}

.internship-line {
    position: absolute;
    background-color:#06505C;
    height: 3px;
    width: 3em;
}

.future-line {
    position: absolute;
    background-color:#4398AD;
    height: 3px;
    width: 3em;
}

.CAgrid h2 {
    padding-top:0em;
    margin: .3em 0 .3em ;
    font-size: 20px;
}
/**********DESKTOP/TABLET***************/
@media only screen and (min-width: 40em) {

    .program-line {
    height: 5px;
    width: 5em;
}

    .admission-line {
    height: 5px;
    width: 5em;
    }
    .abroad-line {
    height: 5px;
    width: 5em;
    }
    .internship-line {
   height: 5px;
    width: 5em;
    }
    .future-line {
     height: 5px;
    width: 5em;
    }
    .img-style {
      height: 100%;
    }

    video {
        width: 80%;
        padding: 5.2em 0 0;
    }


    body {
        max-width: 99vw;
    }
    /*footer*/
    footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        background-color: white;
        position: absolute;
        width: 100vw;
        margin-top: 30px;


    }

    footer div {
        margin: auto;
        font-family: "Lato", sans-serif;

    }

    footer div h3 {
        color: black;
        text-decoration: none;
        text-align: center;
    }

    footer div h2 {
        font-size: 21px;

    }

    .footerLogo {width:200px;
    display: inline;}
    footer a {
        color: black;
        text-decoration: none;
    }

    .iconLocation {
        display: block;
        width: 35px;
        margin: auto;
        margin-top: 10px;
        margin-bottom: -13px;
    }



    .icons {
        width: 20px;
        margin: auto;
        margin-right: 10px;
        height: auto;
    }
/*core area*/
.imgCA {
    height:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}


    .CAgrid{display: grid;
        grid-template-columns: repeat(2, minmax(20em, 1fr));
        grid-gap: 1em;
    }


    /*animations CA*/
    aside.circle.moveMeUpCA {
        grid-template-rows: 4em;
        top:-5vh;
    }



    @keyframes moveMeUpCA {
        from {width:100vw;}

        to {
            width: 80vw;
            z-index: 999;


        }
    }



    /*program*/
    .circle {
        display: grid;
        grid-template-columns: repeat(4, minmax(200px, 1fr));
        grid-gap: 1.5rem;
        width: 20%;
        margin: auto;
        margin-top: 2em;

    }

    aside.gridMe {
        display: grid;
        grid-template-columns: repeat(4, minmax(60px, 40px));
        position: fixed;
    }

    .semesterContainer h2 {margin-left:1em;
    border-bottom: 2px solid;}

    .exam h3 {margin-bottom:0.2em;}

    .exam h4 {margin-left:0em;}

    .exam{margin-bottom:.5em}
    section{margin-left:7vw;
margin-right:7vw;}

main {margin-left:7vw;
margin-right:7vw;}

    .moveMeUp.gridMe{
        left:40vh;
    top:-5vh}
    /*animation*/
    @keyframes moveMeUp {

        to {            z-index:111;
        }
    }

    section.grid {
        display: grid;
        grid-template-columns: repeat(2, minmax(20em, 1fr));
        grid-row-gap: 1.5rem;


    }

    .contLeft {
        grid-column-start: 1;
        grid-row-start: 1;
    }
    .first-img {
        grid-column-start: 2;
    }

.backImg {
    position: relative;
    top: 5em;

}


.header-subtitle {
    margin: .2em 2em 0 2em;
    font-size: 4vw;
    font-family: "Helvetica Neue";
    font-weight: 300;
    color: grey;
    border-bottom: 1px solid;
    padding-left: 3vw;
    margin-bottom: 1.5em;

}

/*admission*/

    .apply {

     background-image: url(images/admission_last.jpg);
   background-position:center;

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:contain;
     width: 100%;
    max-width: 100%;
    overflow:hidden;
    height: 400px;
    position:relative;
    margin:0
}
    .btn {top:8em;
    left:9em;}

    .titleApp {top:3em;
    left:4.5em;
    font-size: 1.6em}


    /*FOOTER*/

    footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: white;
    position: absolute;
    width: 100vw;
    margin-top: 30px;


}

    header {
        height: 7em;
    }

}
@media only screen and (min-width: 60em) {
    /*grid*/

    section.grid {
        margin: 0 7vw;
    }

    /*navigation*/
    .open {
        width: 250px;
    }

    .open-mq {
        width: 250px;
    }

    .logo {
        top: 1.5em;
        left: 2em;
        width: 150px;
    }

    /*core areas*/
    .coreAreas {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 10px;
        padding: 20px;
    }
    /*animations CA*/
    @keyframes moveMeUpCA {

        to {
            z-index: 1111;


        }
    }


    /*program*/
    aside.gridMe {
        grid-template-rows: 4em
    }

    .circle {
        display: grid;
        grid-template-columns: repeat(4, minmax(200px, 1fr));
        grid-gap: 1.5rem;


    }

    .semesterContainer {
    background-color: white;
    margin: 1em;
    margin-bottom:2em;

    }

    .semesterContainer a {margin:4em;}


    @keyframes moveMeUp {

        to {
            z-index:111;
        }
    }

   .backImg {
    position: relative;
    top: 5em;
    height: 100vh;
    margin-bottom: 5em;
}
    .title {
    position: absolute;
    top: 55vh;
    left: 4vw;
        font-size: 30px;
}

    video {
        padding-top: 20vh;
    }

    .header-subtitle {
        margin-bottom: 3.2em;
    }

    aside.circle.moveMeUpCA{left:40vh;}
}
