
body {background-color: #777777;}

.wf {background-color: white;
min-height: 500px;
min-width: 500px;}

.backImg {
    position:relative;
height:100vh;
width:100vw;}


header {position: absolute;
top:55vh;
left: 2vw;}

.logo {
    position:absolute;
    top:0;
    left:0;
    border:1px solid black;
    width:30px;
    height:30px;

}

main {

    margin-left:2rem;
    margin-right:2rem;

}

main.grid {
       display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1.5rem;
}

main.noGrid {
    display: block;
}

footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: white;
    position: absolute;
    width: 100vw;
    margin-top: 30px;


}
footer div{
    margin: auto;
    font-family: "Lato", sans-serif;

}
footer div h3{
    color: black;
    text-decoration: none;
    text-align: center;
}
footer div h2{
    font-size: 21px;
}
footer a{
    color: black;
    text-decoration: none;
}
.iconLocation{
    display: block;
    width: 35px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: -13px;
}
.footerLogo{
    width:25vh;
    margin: auto;



}
.icons{
    width: 20px;
    margin: auto;
    margin-right: 10px;
    height: auto;

}

